@import url("https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap");

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 110vw;
  height: 100vh;
}

body {
  margin: 0;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
